/* resources/css/ImageGalleryComponent.css */
.image-gallery-wrapper {
    padding-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    margin: 0 auto; /* Centrará el contenedor */
    max-width: 80%; /* Ocupa el 40% del ancho de la pantalla */
}
/* Añade tus estilos personalizados aquí */
.image-gallery {
    padding: 30px;
    width: 100%;
    margin: 0 auto; /* Centra la galería horizontalmente */
  }
  /* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    .image-gallery-wrapper,
    .image-gallery {
        padding: 10px 10px 0 10px; /* Elimina el padding en dispositivos móviles */
        max-width: 100%; /* Ocupa el 40% del ancho de la pantalla */
    }
}